attrs==21.4.0
cffi==1.15.0
click==8.1.0
cryptography==36.0.2
Flask==2.0.3
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
Pillow==9.0.1
pycparser==2.21
PyJWT==2.3.0
pyrsistent==0.18.1
python-dotenv==0.20.0
qrcode==7.3.1
six==1.16.0
Werkzeug==2.1.0
