name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - run: pip install ruff
      - run: ruff check trail_guide_content_server tests
      - run: ruff format --check trail_guide_content_server tests
