name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - run: pip install 'poetry>=2.2,<3'
      - run: poetry install
      - run: FLASK_DEBUG="True" FLASK_ENVIRIONMENT="debug" ./test.bash
